@charset "utf-8";
/* CSS Document */

#bx1{
	border: 1px solid red;
	height: 120px;
	width: 1000px;
	background-color: #FFC;
}

#bx2{
	border: 1px solid #FFC;
	height: 450px;
	width: 1000px;
	/*background-color: #F63;*/
	margin-top: 20px;
	padding: 3px;
}

#bx3{
	border: 1px solid #FFC;
	height: 50px;
	width: 1000px;
	background-color: #396;
	margin-top: 20px;
	clear: both;
}

#bd{
	border: 1px solid #FFC;
	height: 450px;
	width: 630px;
	background-color: #CF3;
	margin-left: 180px;
}

#mn1{
	border: 1px solid #FFC;
	height: 650px;
	width: 170px;
	background-color: #09C;
	float: left;
}

#mn2{
	border: 1px solid #FFC;
	height: 600px;
	width: 170px;
	background-color: #09C;
	float: right;
}