/*
#blk1{
	border: 1px solid red;
	color: red;
	background-color: #eee;
}

p{
	color: green;
}

p span{
	color: yellow;
}

p span b{
	color: red;
}*/


/*
#blk1{
	border: 1px solid red;
}

p{
	border: 1px solid red;
}

p span{
	border: 1px solid yellow;
}

p span b{
	border: 1px solid blue;
	background-color: green;
	color: white;
}*/