@charset "utf-8";

#abc{	
	width: 500px;
	height: 200px;
	border:1px solid red;
	text-align: right;	
}

span{
	border:1px solid green;
	letter-spacing: 0.2em;
	word-spacing: 5em;
}

#tbl{
	width: 50%;
	border: 1px solid red;
}

td{
	height: 40px;
	vertical-align: top;
	text-align: right;
}
	