@charset "utf-8";
/* CSS Document */

#abc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 44px;
	font-weight: bold;
	color: #F30;
	text-decoration: blink;	
	/*text-transform: uppercase;	*/
	/*font-variant: small-caps;*/
	/*font-style: oblique;*/	
}

#abc2{
	line-height: 32px;
}
