@charset "utf-8";
/* CSS Document */

/*
#ab1{
	border: 1px solid red;
	background-color: #FC9;
	margin-right: 100px;
	
}

#ab2{
	border: 1px solid red;
	background-color: #3C9;	
	margin-left: 80px;
}*/

#ab1{
	border: 1px solid red;
	background-color: #FC9;
	width: 200px;
	height: 200px;
	margin-bottom: 100px;
}

#ab2{
	border: 1px solid red;
	background-color: #3C9;	
	width: 200px;
	height: 200px;
	margin-top: 150px;
}


