@charset "utf-8";
/* CSS Document */


#header{
	border: 1px solid red;
	background-color: #FC9;
	height: 100px;
	margin-bottom: 10px;
}

#main{
	border: 1px solid red;
	background-color: #3FC;
	height: 450px;
	margin-bottom: 10px;
}

#lft{
	border: 1px solid red;
	background-color: #FF0;
	height: 550px;
	width: 200px;
	float: left;
}

#mdl{
	border: 1px solid red;
	background-color: #F09;
	/*height: 50px;*/
	width: 580px;
	margin-left: 210px;
}

#rht{
	border: 1px solid red;
	background-color: #969;
	height: 600px;
	width: 200px;
	float: right;
}

#footer{
	border: 1px solid red;
	background-color: #963;
	height: 35px;
	clear: both;
}