@charset "utf-8";
/* CSS Document */


#a1{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 89px;
	
	position: relative;
}

#lft{
	width: 6px;
	height: 89px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/lft.jpg);
}

#mdl{
	width: 888px;
	height: 89px;
	position: absolute;
	left: 6px;
	top: 0px;
	background-image: url(../images/mdl.jpg);
	
}

#rht{
	width: 6px;
	height: 89px;
	position: absolute;
	left: 894px;
	top: 0px;
	background-image: url(../images/rht.jpg);
}


/*----------------------------------*/

div{
	padding: 0px 12px;
	position: absolute;
	left: 12px;
	top: 12px;
}

a{
	border: 1px solid #333;
	padding: 4px 15px;
	font-size: 18px;
	margin-right: 8px;
	text-decoration: none;
	
}

a:link, a:visited{
	color: #C30;
	background-color: #FFC;
}

a:hover, a:active{
	color: #FFC;
	background-color: #C30;
}